.curriculum .main-sec {
  background-image: url(/public/pics/landing-page1.jpg);
  background-attachment: fixed;
}

.crr-sec-sec {
  background-color: white;
}

.sec-sec {
  flex-wrap: wrap;
  margin: 0;
}

.sec-sec .container {
  width: 30em;
  margin: 1em 2em;
}

.sec-sec .container img {
  width: 10em;
  margin-right: 1em;
}

.sec-sec .container h1 {
  color: var(--mainColor--);
}

.tri-sec {
  background-color: var(--bgColorGray--);
}

.tri-sec .tri-el img {
  width: 20em;
}

.tri-sec p {
  padding: 1em 5em;
}
.cardC {
  background-color: white;
  width: 17em;
  height: 37em;
  margin-left: 2em;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 5px 0px black;
}

.btn-container {
  flex-direction: column;
}

.content-btns button {
  padding: 1em 2em;
  background-color: var(--secColor--);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 1em;
}

.content-btns button:active {
  background-color: var(--mainColor--);
}

.content-btns .first-btn {
  border-radius: 10px 0px 0px 10px;
}

.content-btns .sec-btn {
  border-radius: 0px 10px 10px 0px;
}

.our-curr {
  background-color: white;
}

.curri-sec {
  flex-wrap: wrap;
}

.curri-card .card-disc {
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--bgColorGray--);
  margin: 1em 1em;
  /* min-width: 22em; */
  border-radius: 5px;
  width: 22em;
  height: 31em;
}

.curri-card .card-disc h1 {
  background-color: var(--mainColor--);
  color: white;
  width: 100%;
  padding: 0.5em 2em;
  height: 3em;
  border-radius: inherit;
}

.curri-card .card-disc p {
  padding: 1em;
}

.course-sec .course-container {
  margin-bottom: 3em;
}

.course-sec .course-container .right-half,
.course-sec .course-container .left-half {
  width: 45%;
  margin: 0 0.5em;
  flex-direction: column;
}

.course-sec .course-container .left-half {
  position: relative;
}

.course-sec .course-container .right-half a,
.course-sec .course-container .left-half a {
  margin-top: 1em;
}

.course-sec .course-container .right-half header h1 img {
  width: 100px;
  margin-left: 1em;
}

.course-sec .course-container .right-half p {
  padding: 1em 2em;
  background-color: var(--bgColorGray--);
  border-radius: 1em;
  text-align: center;
}
.course-sec .course-container .right-half p a {
  margin: 0 auto;
  margin-top: 10px;
  padding: 4px;
  width: 40%;
}

.course-sec .course-container .left-half img {
  width: 100%;
  position: relative;
  height: 15em;
  border-radius: 1em;
  z-index: 3;
  margin-left: 0;
}

.course-sec .course-container .left-half a {
  position: absolute;
  /* top: 50%; */
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  width: 38%;
  height: 20%;
  z-index: 4;
}

.why-us-sec {
  padding: 0;
  display: flex;
  justify-content: center;
}

.why-us-sec .content-half {
  width: 70%;
  background-color: var(--mainColor--);
  color: white;
  padding: 1em 0;
}

.content-container {
  flex-wrap: wrap;
}

.why-us-sec .content-half h1 {
  margin-bottom: 2em;
  position: relative;
}

.why-us-sec .content-half h1::before,
.why-us-sec .content-half h1::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 3em;
  background-color: white;
}

.why-us-sec .content-half h1::before {
  left: 25%;
}

.why-us-sec .content-half h1::after {
  right: 17%;
}

.why-us-sec .content-half .container {
  width: 45%;
  margin-right: 1em;
  margin-bottom: 2em;
}

.why-us-sec .content-half .container img {
  width: 5em;
  margin-right: 1em;
  color: white;
}

@media (max-width: 1026px) {
  .curriculum .main-sec {
    height: 90vh;
  }
  .curriculum .main-sec .disc {
    margin-top: 3em;
  }

  .content-btns button {
    font-size: 14px;
    padding: 1em 1em;
  }

  .course-sec .course-container {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .course-sec .course-container:nth-child(odd) {
    /* background-color: var(--bgColorGray--); */
    padding-top: 2em;
  }

  .course-sec .course-container:nth-child(odd) .left-half {
    display: none;
  }
  .tri-sec p {
    padding: 1em 2em;
  }

  .course-sec .course-container .right-half,
  .course-sec .course-container .left-half {
    width: 100%;
    padding-top: 1em;
    margin: 0;
    margin-bottom: 3em;
  }

  .course-sec .course-container .left-half a {
    margin: 0;
  }

  .why-us-sec .content-half {
    width: 100%;
  }

  .why-us-sec .content-half h1::before {
    display: none;
  }

  .why-us-sec .content-half h1::after {
    display: none;
  }

  .why-us-sec .content-half .content-container {
    flex-wrap: wrap;
  }

  .why-us-sec .content-half .content-container .container {
    width: 80%;
    margin-bottom: 3em;
  }
}
